{% extends "base.html" %}
{% block style %}
    {% load static %}
    <script src="{% static "js/table.js" %}"></script>
    {# bootstrap Table #}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">
    <link rel="stylesheet" href="{% static "css/jquery-editable-select.min.css" %}">
    <script src="{% static "js/jquery-editable-select.min.js" %}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
{% endblock %}
{% block data %}
    <div class="panel-body" style="padding-bottom:0px;">
        <div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group" style="margin-top:15px">
                        <label class="control-label col-sm-1" for="txt_search_name" style="width:6%">姓名</label>
                        <div class="col-sm-3" style="width:10%">
                            <input type="text" class="form-control" id="txt_search_name">
                        </div>
                        <label class="control-label col-sm-1" for="txt_search_from_user" style="width:6%">推荐人</label>
                        <div class="col-sm-3" style="width:10%">
                            <input type="text" class="form-control" id="txt_search_from_user">
                        </div>
                        <label class="control-label col-sm-1" for="txt_search_position" style="width:6%">职位</label>
                        <div class="col-sm-3" style="width:10%">
                            <input type="text" class="form-control" id="txt_search_position">
                        </div>
                        <label class="control-label col-sm-1" for="txt_search_position_level" style="width:6%">级别</label>
                        <div class="col-sm-3" style="width:10%">
                            <input type="text" class="form-control" id="txt_search_position_level">
                        </div>
                        <label class="control-label col-sm-1" for="txt_search_status" style="width:6%">状态</label>
                        <div class="col-sm-3" style="width:10%">
                            <input type="text" class="form-control" id="txt_search_status">
                        </div>
                        <div class="col-sm-4" style="text-align:center;padding-left:0px;width:20%">
                            <button type="button" id="btn_query" class="btn btn-primary">查询</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="toolbar" class="btn-group">
            <input type="button" value="新增简历" id="btn_add" data-toggle="modal" data-target="#addUserModal" class="btn btn-primary">
            <input type="button" value="修改状态" id="btn_edit" class="btn btn-primary" onclick="editUser()">
            <input type="button" value="删除记录" id="btn_delete" class="btn btn-primary" onclick="delUser()">
        </div>

        <table id="get_data"></table>

    </div>
<!-- 新增用户的模态框，在修改用户中将获取一行的值放入input中，改变一些参数继续使用 -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3>新增简历</h3>
					</div>
					<div class="modal-body">
                        <form id="addForm" method="post" class="form-horizontal">
                            {% csrf_token %}
							<div class="form-group" style="display:none">
								<label for="editId" class="col-sm-2 control-label">ID</label>
								<div class="col-sm-7">
									<input type="id" name="id"   class="form-control" id="editId" placeholder="ID" />
								</div>
								<label id="errorId" for="editId" class="col-sm-3 control-label"></label>
							</div>
							<div class="form-group">
								<label for="inputAccount" class="col-sm-2 control-label">姓名</label>
								<div class="col-sm-7">
									<input type="name" name="name" class="form-control" id="editAccount" placeholder="姓名"/>
								</div>
								<label id="errorAccount" for="inputAccount" class="col-sm-3 control-label"></label>
							</div>
                            <div class="form-group">
								<label for="inputposition" class="col-sm-2 control-label">职位</label>
								<div class="col-sm-7">
									<input type="position" name="position" class="form-control" id="editposition" placeholder="职位"/>
								</div>
								<label id="errorposition" for="inputposition" class="col-sm-3 control-label"></label>
							</div>
                            <div class="form-group">
								<label for="inputlevel" class="col-sm-2 control-label">级别</label>
								<div class="col-sm-7" style="width:24%">
                                    <select class="form-control" name="level" id="editlevel">
                                        {% for levels_dic in levels %}
                                            {% if levels_dic.position_level == '初级' %}
                                            <option value="{{ levels_dic.position_level }}" selected="selected">{{ levels_dic.position_level }}</option>
                                            {% else %}
                                            <option value="{{ levels_dic.position_level }}">{{ levels_dic.position_level }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <script type="text/javascript">
                                        $('#editlevel').editableSelect({
                                            effects: 'fade'
                                        });
                                    </script>
								</div>
                                <label for="inputlevel" class="col-sm-2 control-label" style="text-align:center;width:10%">基数</label>
                                <div class="col-sm-7" style="width:24%">
                                    <input type="basenum" name="basenum" class="form-control" id="editBasenum" placeholder="级别基数"/>
                                </div>
								<label id="errorlevel" for="inputlevel" class="col-sm-3 control-label"></label>
							</div>
                            <div class="form-group">
								<label for="inputfromuser" class="col-sm-2 control-label">推荐人</label>
								<div class="col-sm-7">
									<input type="fromuser" name="from_user" class="form-control" id="editAccount" placeholder="推荐人"/>
								</div>
								<label id="errorfromuser" for="inputfromuser" class="col-sm-3 control-label"></label>
							</div>
                            <div class="form-group">
								<label for="inputAccount" class="col-sm-2 control-label">简历</label>
								<div class="col-sm-7">
                                    <input id="txt_file" type="file" name="file" class="file-loading" data-preview-file-type="text">
								</div>
								<label id="errorAccount" for="inputAccount" class="col-sm-3 control-label"></label>
							</div>
                            <div class="form-group">
								<label for="inputAccount" class="col-sm-2 control-label">简历名</label>
								<div class="col-sm-7">
                                        <input id="filename" readonly="readonly" type="filename" name="filename" class="file-loading" data-preview-file-type="text">
								</div>
								<label id="errorAccount" for="inputAccount" class="col-sm-3 control-label"></label>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" id="conf" class="btn btn-default" onclick="addUser()">确定</button>
						<button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddModal()">取消</button>
					</div>
				</div>
			</div>
		</div>
<!-- 修改用户的模态框 -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h3>修改记录</h3>
					</div>
					<div class="modal-body">
						<form id="editForm" method="post" class="form-horizontal">
							<div class="form-group" style="display:none">
								<label for="editId" class="col-sm-2 control-label">ID</label>
								<div class="col-sm-7">
									<input type="id" name="id"   class="form-control" id="editId" placeholder="ID" />
								</div>
								<label id="errorId" for="editId" class="col-sm-3 control-label"></label>
							</div>
							<div class="form-group">
								<label for="inputName" class="col-sm-2 control-label">姓名</label>
								<div class="col-sm-7">
									<input type="name" name="name" class="form-control" id="editName" placeholder="姓名"/>
								</div>
								<label id="errorName" for="inputName" class="col-sm-3 control-label"></label>
							</div>
                            <div class="form-group">
								<label for="inputposition" class="col-sm-2 control-label">职位</label>
								<div class="col-sm-7">
									<input type="position" name="position" class="form-control" id="editPosition" placeholder="职位"/>
								</div>
								<label id="errorposition" for="inputposition" class="col-sm-3 control-label"></label>
							</div>
                            <div class="form-group">
								<label for="inputlevel" class="col-sm-2 control-label">级别</label>
								<div class="col-sm-7" style="width:24%">
                                    <select class="form-control" name="level" id="editLevel">
                                        {% for levels_dic in levels %}
                                            <option value="{{ levels_dic.position_level }}">{{ levels_dic.position_level }}</option>
                                        {% endfor %}
                                    </select>
                                    <script type="text/javascript">
                                        $('#editLevel').editableSelect({
                                            effects: 'slide'
                                        });
                                    </script>
								</div>
                                <label for="inputlevel" class="col-sm-2 control-label" style="text-align:center;width:10%">基数</label>
                                <div class="col-sm-7" style="width:24%">
                                    <input type="basenum" name="basenum" class="form-control" id="editBasenum1" placeholder="级别基数"/>
                                </div>
								<label id="errorlevel" for="inputlevel" class="col-sm-3 control-label"></label>
                            </div>
                            <div class="form-group">
								<label for="inputFrom_user" class="col-sm-2 control-label">推荐人</label>
								<div class="col-sm-7">
									<input type="fromuser" name="from_user" class="form-control" id="editFrom_user" placeholder="推荐人"/>
								</div>
								<label id="errorfrom_user" for="inputFrom_user" class="col-sm-3 control-label"></label>
							</div>
                            <div class="form-group">
								<label for="inputNotes" class="col-sm-2 control-label">简历</label>
								<div class="col-sm-7">
                                    <input id="txt_file_2" type="file" name="file" class="file-loading" data-preview-file-type="text">
								</div>
								<label id="errorNotes" for="inputNotes" class="col-sm-3 control-label"></label>
							</div>
                            <div class="form-group">
								<label for="editFilename" class="col-sm-2 control-label">简历名</label>
								<div class="col-sm-7">
                                        <input id="editNotes" readonly="readonly" type="filename" name="filename" class="file-loading" data-preview-file-type="text">
								</div>
								<label id="errorAccount" for="editFilename" class="col-sm-3 control-label"></label>
							</div>
                            <div class="form-group">
								<label for="inputStatus" class="col-sm-2 control-label">状态</label>
								<div class="col-sm-7">
                                    <select class="form-control" name="status" id="editStatus">
                                        <option value="一面">一面</option>
                                        <option value="二面">二面</option>
                                        <option value="冬眠">冬眠</option>
                                        <option value="入职">入职</option>
                                        <option value="转正">转正</option>
                                        <option value="合作">合作</option>
                                    </select>
								</div>
								<label id="errorStatus" for="inputStatus" class="col-sm-3 control-label"></label>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" id="conf" class="btn btn-default" onclick="updateUser()">确定</button>
						<button type="button" class="btn btn-default" data-dismiss="modal" onclick="resetAddModal()">取消</button>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
